Repository west2-online/fzuhelper-server, changes with the owners that CODEOWNERS names for each.
All owners: @west2-online/fzuhelper, @jiuxia211, @ozline, @SchwarzSail, @mutezebra, @renbaoshuo, @FantasyRL, @penqee

fix:CI
  cmd/paper/main.go
  config/types.go
  go.mod
  go.sum
Owners: @penqee, @west2-online/fzuhelper, @jiuxia211, @ozline

optimize:upYun config (#66)
  cmd/api/biz/model/api/api.go
  cmd/api/router.go
  cmd/launch_screen/main.go
  cmd/launch_screen/service/create_image.go
  cmd/launch_screen/service/create_image_test.go
  cmd/launch_screen/service/delete_image.go
  cmd/launch_screen/service/delete_image_test.go
  cmd/launch_screen/service/mobile_get.go
  cmd/launch_screen/service/mobile_get_test.go
  cmd/launch_screen/service/update_image.go
  cmd/launch_screen/service/update_image_test.go
  cmd/paper/main.go
  config/config.example.yaml
  config/config.go
  config/types.go
  go.mod
  go.sum
  idl/api.thrift
  idl/launch_screen.thrift
  kitex_gen/launch_screen/k-launch_screen.go
  kitex_gen/launch_screen/launch_screen.go
  pkg/upyun/launch_screen.go
  pkg/upyun/paper.go
  pkg/utils/utils.go
Owners: @west2-online/fzuhelper, @jiuxia211, @ozline, @FantasyRL, @penqee, @mutezebra

feat: use more graceful exec init way update: etcd-monitor.sh support diff del: all mod delete script, use docker/scirpt for all
  .gitignore
  Makefile
  cmd/academic/build.sh
  cmd/api/build.sh
  cmd/api/script/bootstrap.sh
  cmd/classroom/build.sh
  cmd/classroom/script/bootstrap.sh
  cmd/course/build.sh
  cmd/course/script/bootstrap.sh
  cmd/launch_screen/build.sh
  cmd/launch_screen/script/bootstrap.sh
  cmd/paper/build.sh
  cmd/paper/script/bootstrap.sh
  cmd/template/build.sh
  cmd/template/script/bootstrap.sh
  cmd/user/build.sh
  cmd/user/script/bootstrap.sh
  config/config.example.yaml
  config/config.go
  config/words.txt
  docker/Dockerfile
  docker/build.sh
  docker/run.sh
  docker/script/build.sh
  docker/script/entrypoint.sh
  docker/script/etcd-monitor.sh
  go.mod
  go.sum
  hack/entrypoint.sh
  hack/start-service-all.sh
  pkg/utils/utils.go
Owners: @west2-online/fzuhelper, @jiuxia211, @ozline, @SchwarzSail, @renbaoshuo, @FantasyRL, @penqee, @mutezebra

feat: use docker login action
  .github/workflows/deploy.yaml
Owners: @SchwarzSail

fix: go mod not tidy
  go.mod
  go.sum
Owners: @west2-online/fzuhelper, @jiuxia211, @ozline

chore: split dal code into multiple files
  cmd/classroom/dal/cache/empty_room.go
  cmd/classroom/dal/cache/get_empty_room.go
  cmd/classroom/dal/cache/is_info_exist.go
  cmd/classroom/dal/cache/set_commom_emptyroom.go
  cmd/classroom/dal/cache/set_xiamen_emptyroom.go
  cmd/classroom/service/schedule.go
  cmd/classroom/workqueue.go
  cmd/course/dal/db/create_course.go
  cmd/course/dal/db/get_course.go
  cmd/course/dal/db/model.go
  cmd/course/dal/db/update_course.go
  cmd/launch_screen/dal/cache/cache.go
  cmd/launch_screen/dal/cache/get_launch_screen.go
  cmd/launch_screen/dal/cache/is_cache_exist.go
  cmd/launch_screen/dal/cache/set_launch_screen.go
  cmd/launch_screen/dal/db/add_image_list_showtime.go
  cmd/launch_screen/dal/db/add_point_time.go
  cmd/launch_screen/dal/db/create_image.go
  cmd/launch_screen/dal/db/delete_image.go
  cmd/launch_screen/dal/db/get_image.go
  cmd/launch_screen/dal/db/image.go
  cmd/launch_screen/dal/db/model.go
  cmd/launch_screen/dal/db/update_image.go
  cmd/paper/dal/cache/get_file_dir.go
  cmd/paper/dal/cache/paper.go
  cmd/paper/dal/cache/set_file_dir.go
  cmd/paper/dal/cache/util.go
Owners: @SchwarzSail, @renbaoshuo, @FantasyRL, @penqee

CODEOWNERS:

# 这个文件列出了本项目的主要维护者，以及所负责的模块。
#
# 注释格式: 加入工作室年份-维护者姓名 <电子邮件地址> (维护者用户名)
# 文本格式: 模块路径 @维护者用户名1 @维护者用户名2 ...

## Root
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)
# 2022-林黄骁 <ozlinex@outlook.com> (@ozline)

* @west2-online/fzuhelper @jiuxia211 @ozline


## CI
# 2024-朱胤帆 <1424928981@qq.com> (@SchwarzSail)

/.github @SchwarzSail


## pkg
# 2024-马奔 <mutezebra@qq.com> (@mutezebra)
# 2022-林黄骁 <ozlinex@outlook.com> (@ozline)

/pkg @mutezebra @ozline


# ======== 以下为各模块的负责人 ========

## cmd/academic
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)

/cmd/academic @jiuxia211


## cmd/course
# 2024-任宝硕 <i@baoshuo.ren> (@renbaoshuo)

/cmd/course @renbaoshuo


## cmd/classroom
# 2024-朱胤帆 <1424928981@qq.com> (@SchwarzSail)

/cmd/classroom @SchwarzSail


## cmd/launch_screen
# 2024-肖垲 <1845983502@qq.com> (@FantasyRL)

/cmd/launch_screen @FantasyRL


## cmd/paper
# 2024-庄仲华 <3092572427@qq.com> (@penqee)

/cmd/paper @penqee


## cmd/user
# 2023-李梓玄 <2064166368@qq.com> (@jiuxia211)

/cmd/user @jiuxia211


## cmd/exam
# 2024-马奔 <mutezebra@qq.com> (@mutezebra)

/cmd/exam @mutezebra
